<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="latte.kr.com.project47seconds">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_144"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_144"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MediaPlayerService"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="latte.kr.com.project47seconds.ACTION_PLAY" />
                <action android:name="latte.kr.com.project47seconds.ACTION_PAUSE" />
                <action android:name="latte.kr.com.project47seconds.ACTION_STOP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />
        <activity android:name=".LoginActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".KeywordSelectActivity"/>
        <activity android:name=".HomeActivity"/>
    </application>

</manifest>